<a href="https://colab.research.google.com/github/vncntntvdd/LinearAlgebra21/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Welcome to Python Fundamentals***

---


*In this module, we are going to establish our skills in Python programming. In this notebook we are going to cover:*


*   *Variables and Data Types*
*   *Operations*
*   *Input and Output Operations*
*   *Logic* *Control*
*   *Iterables*
*   *Functions*

## ***Variables and Data Types***
![image](https://static.javatpoint.com/python/images/python-data-types.png)



> A variable in python is used in storing values or data in the program, the stored values or data may also be changed when the program is running. The values that are stored in the variable may come in different types and it is called as the Data Types, that specifies the type of value that determines which operations can be performed on a set of data

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type (x)

In [ ]:
y = 3.0
type(y)

In [ ]:
x = float(x)
type(x) 
x

In [ ]:
s, t, u = "1", '3', 'three'
type(s)

#**Operations**


> *Operations are used to execute mathematic operation to a given data or variable and gives the result when the program is running*.


![image](https://www.creativefabrica.com/wp-content/uploads/2020/03/08/line-math-operations-icon-Graphics-3392758-1.jpg)

## ***Arithmetic***


> *are used to perform common mathematical operation such as addition, subtraction, multiplication and division.*

In [ ]:
w, x, y, z = 4.0, -3.0, 2, -32

In [ ]:
### Addition 
S = w + x

In [ ]:
### Subtraction
D = y - z

In [ ]:
### Multiplication
P = w*z

In [ ]:
### Division
Q = y / x


*A* **Floor Division** *is just like the usual division, the only difference between a floor division and division is that gives the largest integer.*

In [ ]:
### Floor Division
Qf = w//z
Qf

-1.0

*A* **Exponentiation** *is also known as the power operator which raises an exponent to the given value or data.*

In [ ]:
### Exponentiation
E = w**w
E

256.0

*In python the* **Modulo's** *symbol is % or percentage sign and is an operator that gives back the remainder of the two given variable or data that is divided with each other.*

In [ ]:
### Modulo
mod = z%x
mod

-2.0

## ***Assignment***


> *An operator that is used in assigning values to a variable or a data in the program.*

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w

In [ ]:
B -= x
B

103.0

In [ ]:
C *= w
C

8.0

In [ ]:
D /= x
D

-0.3333333333333333

In [ ]:
E **= y
E

4

### ***Comparatorss***


> *Is an operator that compares two variables or data and resulting to true or false.*

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [ ]:
## Equality
size_1 == true_size

True

In [ ]:
## Non-Equality
size_2 != true_size

True

In [ ]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

### ***Logical***


> *an operator that uses is, is not, and, or in determining if the given variable is true or false.*

In [ ]:
size_1 == true_size

True

In [ ]:
size_1 is true_size

False

In [ ]:
size_1 is not true_size

True

In [ ]:
P, Q = True, False
conj = P and Q
conj

False

In [ ]:
disj = P or Q
disj

True

In [ ]:
nand = not(P and Q)
nand

True

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

True

## **Input and Output**



> *are a function that connects the user to the program, Input allows the user to insert a variable or a function to a program, on the other hand, the output are the result of the input that the user made or printed in the program.*

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
cnt = 14000

In [ ]:
string = "Hello World!"
print (string, ", Current COVID count is:", cnt)
cnt += 10000

Hello world! , Current COVID count is: 24000

In [ ]:
print(f"{string}, current count is: {cnt}")

Hello world!, current count is: 34000

In [ ]:
sem_grade = 86.25
name = "Vincent"
print("Hello {}, your semestral grade is : {}".format(name, sem_grade))

Hello Vincent, your semestral grade is : 86.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals." .format(pg, mg, fg))

The weights of your semestral grades are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [ ]:
e = input("Enter a number: ")
e

Enter a number: 98

'98'

In [ ]:
name = input ("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

# **Looping Statements**

While

In [ ]:
## while loops
i, j = 0 , 10
while(i<=j):
  print(f"{i})\t|\t{j}")
  i += 1

0)	|	10
1)	|	10
2)	|	10
3)	|	10
4)	|	10
5)	|	10
6)	|	10
7)	|	10
8)	|	10
9)	|	10
10)	|	10

## For

In [ ]:
# for(int = 0; i<10; i++){
# printf(i)
# }

i = 0
for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Buko"]
print ('Now Playing:\n')
for song in playlist:
  print(song)

Now Playing:

Bahay Kubo
Magandang Kanta
Buko

## Flow Control

### Condition Statements

In [ ]:
num_1, num_2 = 12,13
if(num_1 == num_2):
  print("HAHA")
elif(num_1>num_2):
    print("HOHO")
else:
      print("HUHU")

HUHU

## Functions

In [ ]:
# void DeleteUser (int userid){
# delete(userid);
#}

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

In [ ]:
userid = 2020_100100
delete_user(2020_100100)

Successfully deleted user: 2020100100

In [ ]:
addend1, addend2 = 5,6

In [ ]:
def add(addend1, addend2):
  sum = addend1 + addend2
  return sum

In [ ]:
add(5, 4)

9